<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>

        <!-- Login Form -->
        <form th:action="@{/users/login}" th:object="${user}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{userName}" required/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required/>
            <br/>
            <button type="submit">Login</button>
        </form>


<!--        <div th:if="${error}" class="error-message">-->
<!--            <p th:text="${error}"></p>-->
<!--        </div>-->
        <!-- work on error message to populate-->


        <!-- Registration Link -->
        <div id="formFooter">
            <a class="underlineHover" href="http://localhost:8080/register">Don't have an account? Register Here</a>
        </div>
    </div>
</div>

</body>
</html>
